<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <title><%= data.page.title || "OSDC 2012" %></title>
        <%= stylesheet_link_tag "normalize", "all" %>
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' />
        <%= javascript_include_tag  "all" %>
    </head>
    <body class="<%= page_classes %>">
        <div id="top-line"></div>

        <!-- START MENU SECTION -->
        <div id="menu-bar">
            <!-- start center-block -->
            <div class="center-block">
                <a href="index.html"><div id="logo2"></div></a> <!-- logo -->
                <!-- start menu -->
                <div id="menu" class="fix-fish-menu">
                    <ul id="nav" class="sf-menu">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="article-list.html">NEWS</a></li>
                        <li><a href="schedule.html">SCHEDULE</a></li>
                        <li><a href="sponsor.html">SPONSORS</a></li>
                    </ul>  <!-- end #nav  -->
                </div>	<!-- end #menu  -->	 	
            </div> <!-- end .center-block -->
            <div class="clear"></div>
        </div> <!-- end #menu-bar -->
        <div class="clear"></div>    

        <!-- START CONTENT -->     
        <div id="content">
            <%= yield %>
            <div class="clear"></div>    
        </div> <!-- end #content -->

        <!-- START FOOTER -->    
        <div id="footer">
            <div class="center-block">
                <!-- To Top Button -->
                <div id="to-top" title="回頁首"></div>
                <p style="color: #fff;font-size: 11px;">
                    Copyright © 2013 OSDC.tw. Designed by <a target="_blank" href="http://4point-inc.com">四點設計</a>
                     | 協辦：
                     <a target="_blank" href="http://sitetag.us/">SiteTag</a>
                </p>
            </div> <!-- end .center-block -->
        </div> <!-- end #footer -->  
        <div id="footer-bottom-line"></div>
    </body>
</html>
