!!! 5
%html
	%head
		%meta{:charset => "utf-8"}
		%title= current_page.data.title + " &mdash; OSDC" || "OSDC"
		= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu:400,700"
		= stylesheet_link_tag "style"
		= javascript_include_tag  "all"
	%body{:class => page_classes}
		= partial 'header'
		%main#content
			.wrapper
				= yield
		= partial 'footer'