%header#header
	.wrapper
		%h1#logo 
			= link_to 'OSDC', '/index.html'
		%ul#menu
			%li
				= link_to 'News', '/news.html'
			%li.disable
				= link_to 'Register', '#register'
			%li.disable
				= link_to 'Schedule', '#schedule'
			%li
				= link_to 'Sponsors', '/sponsors.html'
		.top
			= image_tag 'top.svg'
#banner.wrapper
	%p.left
		%span OSDC
		%br
		Academia Sinica Taipei, Taiwan
	%p.right
		%span 中央研究院人文社會科學館
		%br
		International Conference Hall,
		%br
		Research Center for Human and
		%br
		Social Science, Academia Sinica
	%p.title
		%time 04/11 - 04/12
		%span.red Open Source
		%span.green Developers'
		%br
		%span.green Conference
		%span.blue 2014