%header#header
	.wrapper
		%h1#logo
			= link_to 'OSDC', '/index.html'
		%ul#menu
			%li{class: ("active" if current_page.path.start_with?('news') )}
				= link_to 'News', (current_page.path.start_with?('index') ? '#news' : '/news.html')
			%li{class: ("active" if current_page.path.start_with?('speakers') )}
				= link_to 'Speakers', (current_page.path.start_with?('index') ? '#speakers' : '/speakers.html')
			%li{class: ("active" if current_page.path.start_with?('schedule') )}
				= link_to 'Schedule', (current_page.path.start_with?('index') ? '#schedule' : '/schedule.html')
			%li{class: ("active" if current_page.path.start_with?('sponsors') )}
				= link_to 'Sponsors', (current_page.path.start_with?('index') ? '#sponsor' : '/sponsors.html')
		.top
			%svg{:width => '150px', :height => '300px'}
				%use{:y => '148', "xlink:href" => image_path('image.svg') + "#red"}
				%use{"xlink:href" => image_path('image.svg') + "#line"}
		.top2
			%svg.brick
				%use{"xlink:href" => image_path('image.svg') + "#red_blue"}
#banner.wrapper
	%p.left
		%span OSDC
		%br
		Academia Sinica Taipei, Taiwan
	= link_to 'Register', 'http://osdc.kktix.cc/events/osdctw2014', {:id => 'register', :target => 'blank'}
	%p.right
		%span 中央研究院人文社會科學館
		%br
		International Conference Hall,
		%br
		Research Center for Human and
		%br
		Social Science, Academia Sinica
	%p.title
		%time #{settings.day1} - #{settings.day2}
		%span.red Open Source
		%span.green Developers'
		%br
		%span.green Conference
		%span.blue 2014
