%table
	%caption #{date}
	%thead
		%tr
			%th 時間
			%th #{settings.room[1]}
			%th #{settings.room[0]}
			%th #{settings.room[2]}
	%tbody
		- day = date == settings.day1 ? 'day1' : 'day2'
		- data.schedule.send(day).each_with_index do |schedule, index|
			%tr
				%td= schedule.time
				- case schedule.type
				- when 'lunch'
					%td.lunch{:colspan => 3} 午餐
				- when 'lightning'
					%td.lightning{:colspan => 3}
						= link_to 'Lightning Talks', 'https://www.youtube.com/watch?v=akS7pwcQdK8&list=PLJLePgXWJ60TTm6svmIhXvZV-7XtXMu_k'
				- when 'keynote'
					- talk = data.program.send(day).find{|talk| talk.time == index}
					%td.keynote{:colspan => 3}
						= link_to program_link(day, talk) do
							%span.speaker= speaker_id(talk.speaker)
							%span.title= talk.title
				- when 'track'
					- [1, 0, 2].each do |room|
						- talk = data.program.send(day).find{|talk| talk.time == index and talk.room == room}
						- if talk.speaker.empty?
							%td.empty
						- else
							%td.talk
								= link_to program_link(day, talk) do
									%span.speaker= speaker_id(talk.speaker)
									%span.title= talk.title
