%li.speaker
	%article{:id => speaker.id}
		%header
			= avatar speaker
			%h3.name= speaker.name
			%p.title= speaker.title
		%main.profile= simple_format speaker.profile
		%footer
			- ['day1', 'day2'].each do |day|
				- data.program.send(day).select{|program| program.speaker == speaker.id}.each do |program|
					%p.talk
						= link_to program.title, "/program/#{settings.year}-#{day}-#{program.time}#{program.room}.html"
