---
title: OSDC 2012 | 贊助廠商
---
<div class="center-block">
    <h2>贊助廠商</h2>
    <div class="clear"></div>
    <div class="divider margin-20"></div>    

    <h2>Joint</h2> 
<ul id="portfolio">       
     
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.samsungapps.com/"><%= image_tag 'sponsors/samsung_apps.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.samsungapps.com/"><h4>Samsung Apps</h4></a>
                </div> 
                <p>
	Samsung Apps提供Samsung 手機(Android & Bada)、平板電腦與Smart TV用戶豐富、有趣與多元的Apps，讓用戶能夠在購買Samsung device之際,也可以享受到額外的附加價值；Samsung Apps同時也提供給程式開發者一個很好的發揮舞台，讓廣大的Samsung用戶能夠使用程式開發者所提供之App。</p>
            </div>
        </div>
        <div class="clear"></div>
            </li>
    </ul>
<div class="clear"></div>
<div class="divider margin-20"></div>

 
<h2>Hacker</h2> 
<ul id="portfolio">
            
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://tw.kkbox.com/index.html"><%= image_tag 'sponsors/kkbox.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://tw.kkbox.com/index.html"><h4>KKBOX</h4></a>
                </div> 
                <p>
	願境網訊股份有限公司<span class="s1">(KKBOX Taiwan Co., Ltd.)</span><span class="s2"> </span>以領先之姿，於<span class="s2">2004</span>年<span class="s2">6</span>月推出台灣線上音樂市場首例合法串流模式的線上音樂品牌<span class="s2">—KKBOX</span>。獨創的<span class="s2">Streaming</span>音樂收聽模式，讓使用者只需透過網路，即可播放儲存在雲端的喜愛歌曲，並以技術加密媒體檔（<span class="s2">Digital Rights Management</span>，<span class="s2">DRM</span>），在大中華市場首度創立此商業模式並成為標竿品牌，更成功的打開線上音樂合法授權的版權智慧觀念。</p>
<p class="p2">
	<span class="s2">KKBOX</span>自推出以來，始終致力於提供最豐富完整且品質絕佳的線上音樂服務，近年為因應龐大的行動音樂需求，積極研發各式新硬體的軟體開發，推廣各項延伸性應用服務；於<span class="s2">2007</span>年<span class="s2">KKBOX</span>推出<span class="s2">Windows Mobile</span>版，<span class="s2">2009</span>年初推出<span class="s2">KKBOX iPhone</span>版，成為全球第一個在<span class="s2">iPhone</span>上提供音樂訂閱服務的<span class="s2">app</span>。<span class="s2">2009</span>年，在業界率先推出符合<span class="s2">Android</span>介面的<span class="s2">KKBOX</span>音樂服務，此外，<span class="s2">KKBOX iPhone</span>版亦同步支援<span class="s2">iPad</span>，在在證明<span class="s2">KKBOX</span>的研發團隊堅強與領先的實力。</p>
<p class="p2">
	KKBOX為華人線上音樂第一品牌，創立至今便謹守合法授權音樂經營，所取得之音樂版權已超過一百萬首，品牌價值與信賴度皆是第一。因此，KKBOX於2008年第四季，中華電信入股30%的股權，成為股東之一，2010年底更正式與日本第二大電信廠商KDDI簽署合約，KDDI收購76%股權，成為最大股東，而KKBOX則為KDDI旗下子公司。未來，KKBOX將持續開發新產品，提供更多元化的服務以滿足不同會員在音樂服務上的各種需求，為消費者帶來更便利的音樂服務。</p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://tw.yahoo.com/"><%= image_tag 'sponsors/yahoo.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://tw.yahoo.com/"><h4>Yahoo!奇摩</h4></a>
                </div> 
                <p>
	Yahoo!奇摩自2001年2月由Yahoo!與奇摩兩大網站正式合併營運之後，即成為國內居領導地位之入口網站，並不斷致力於為廣大網友及企業客戶，提供豐富與多元化的服務與交流平台。</p>
<p>
	Yahoo!奇摩提供優質且多元的網路內容與服務，並創造在地化、好用且生活化的網路使用環境。Yahoo!奇摩也為企業提供各種網路服務，協助大型、中小型、微型企業、甚至傳統產業客戶，提升 其企業知名度與網路服務，例如完整服務的在地化關鍵字廣告、各式互動廣告、虛擬商店、線上交易服務、企業入口網站整體解決方案等。</p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.mozilla.org/"><%= image_tag 'sponsors/mozilla.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.mozilla.org/"><h4>Mozilla</h4></a>
                </div> 
                <p>
	Mozilla 美商謀智由Mozilla基金會所擁有，是一個全球化的非營利組織，其願景是打造一個開放自由的網路未來，提升人們的網路經驗，並支持開放源碼的資源共享。主要產品Firefox、Thunderbird，其中Firefox為全球市場前三大瀏覽器，在世界各地擁有廣大支持者。</p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.pixnet.net/"><%= image_tag 'sponsors/pixnet.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.pixnet.net/"><h4>痞客邦</h4></a>
                </div> 
                <p>
	「PIXNET痞客邦」(<a href="http://www.pixnet.net">www.pixnet.net</a>) 為國內最受歡迎前5大部落格網站之一。提供網友線上相簿、網誌、影音服務等功能。營運目標是在既有基礎下提升現行個人相簿與網誌服務，提供網友享有更佳的創作與社群交流平台。是目前國內Web 2.0應用服務的佼佼者，可提供網友更完整的服務。</p>
            </div>
        </div>
        <div class="clear"></div>
            </li>
    </ul>
<div class="clear"></div>
<div class="divider margin-20"></div>
 


<h2>Geek</h2> 
<ul id="portfolio">        
     
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://tw.trendmicro.com/tw/home/"><%= image_tag 'sponsors/trend.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://tw.trendmicro.com/tw/home/"><h4>趨勢科技</h4></a>
                </div> 
                <p>
	趨勢科技股份有限公司是全球網際網路內容安全的領導品牌，致力於保障企業與消費者數位資訊交換環境 的安全。 趨勢科技是業界的技術先驅，領先的整合式資安威脅管理技術能遏阻惡意程式、垃圾郵件、資料外洩以及最新的 Web 資安威脅。本 公司許多解決方案均以 Trend Micro™ Smart Protection Network 為基礎，這是涵蓋閘道外廣大空間與用戶端的新一代內容安全基礎架構，專為協助客戶防範 Web 資安威脅所設計。 請造訪 <a href="http://www.trendmicro.com">www.trendmicro.com</a></p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.etusolution.com"><%= image_tag 'sponsors/etu.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.etusolution.com"><h4>Etu</h4></a>
                </div> 
                <div>
	Etu is a Big Data pioneer in providing Big Data solutions that</div>
<div>
	are primarily concerned with how customers to discover, capture and</div>
<div>
	connect the valuable information hidden in the extremely large data</div>
<div>
	sets with simple steps. At Etu, our mission is to develop Big Data Killer</div>
<div>
	Solutions with Appliances, centered on business development in Taipei</div>
<div>
	and Beijing. Utilizing the Hadoop-related technologies, working closely</div>
<div>
	with all Hadoop distribution and third party tool vendors , our Big Data</div>
<div>
	business is dedicated to providing end-to-end solutions for customers</div>
<div>
	to effectively harness the challenges of large sets of data. With our</div>
<div>
	professionalism and expertise, our core competency in Big Data is to</div>
<div>
	address specific business problems for customers from a diverse set of</div>
<div>
	industries.</div>
<div>
	<p class="p1">
		To find out more, please visit <span class="s1"><a href="http://www.etusolution.com/">www.etusolution.com</a></span></p>
</div>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://cookpad.com/"><%= image_tag 'sponsors/cookpad.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://cookpad.com/"><h4>COOKPAD</h4></a>
                </div> 
                <p>
	COOKPAD是世界最大的菜譜网站，在日本几乎過半的20-30歲女性都在使用它，成為了每个家庭享受美味料理所不可或缺的重要工具。</p>
<p class="p1">
	我們擁有1500万用戶以及100万个菜譜。（于12月15日上市東証一部。）</p>
<p class="p1">
	COOKPAD堅信如果我們可以把“繁瑣”的烹飪過程轉換為歡快而又刺激的活動，人們將可以更好的享受每一天的生活。我們的任務便是讓更多的人感受到其中的快樂。</p>
<p class="p1">
	而且COOKPAD是使用Ruby on Rails构建的日本規模最大的网站，也是世界屈指可<b>数</b>的大規模网站之一。進入公司以后可以選擇自己喜歡的PC及周邊。</p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://verywed.com/"><%= image_tag 'sponsors/verywed.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://verywed.com/"><h4>veryWed</h4></a>
                </div> 
                <p>
	veryWed</p>
            </div>
        </div>
        <div class="clear"></div>
            </li>
    </ul>
<div class="clear"></div>
<div class="divider margin-20"></div>    



<h2>Guru</h2> 
<ul id="portfolio">        
     
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.godgame.com.tw/"><%= image_tag 'sponsors/godgame.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.godgame.com.tw/"><h4>神來也</h4></a>
                </div> 
                <p>
	神來也</p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://handlino.com/"><%= image_tag 'sponsors/handlino.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://handlino.com/"><h4>和多</h4></a>
                </div> 
                <p>
	和多</p>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.openfoundry.org/"><%= image_tag 'sponsors/ossf.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.openfoundry.org/"><h4>自由軟體鑄造場</h4></a>
                </div> 
                <p>
	自由軟體鑄造場(Open Source Software Foundry，簡稱 OSSF)，重點任務為培植本土自由軟體社群與人才，實際工作有：</p>
<div>
	(一)推廣自由軟體概念</div>
<div>
	(二)集結國內自由軟體社群</div>
<div>
	(三)促進臺灣人才培育與產業合作</div>
<div>
	(四)與國際趨勢交流接軌</div>
<div>
	OSSF 計畫透過 OpenFoundry 平台，提供使用者從事自由軟體專案開發時，所需要的重要工具與服務。</div>
<div>
	提供五大服務</div>
<div>
	1. 匯集自由軟體領域的專業資源目錄</div>
<div>
	2. 發行自由軟體鑄造場電子報</div>
<div>
	3. 舉辦各類自由軟體活動及工作坊</div>
<div>
	4. 從事校園推廣及提供自由軟體相關教材影片</div>
<div>
	5. 提供法律政策諮詢與服務</div>
<div style="margin-bottom: 10px;">
	</div>
<div>
	Open Source Software Foundry(OSSF) established OpenFoundry to help developers maintain and release their open source software products.</div>
<div>
	OpenFoundry provides other key services to help users with the development of open source software. The services include compiling and maintaining a resource catalog, publishing a bi-weekly newsletter, hosting various Open Source workshops, visiting universities and schools to promote open source software, and providing users with legal and licensing advice.</div>
<div>
	1. Resource Catalog</div>
<div>
	2. OSSF Newsletters</div>
<div>
	3. Open Source Workshops</div>
<div>
	4. Promoting Open Source Software in Universities and Schools</div>
<div>
	5. Legal and Licensing Consultations</div>
            </div>
        </div>
        <div class="clear"></div>
                <div class="divider_line margin-20"></div>
            </li>
        <li>
        <div class="portfolio-item">
            <div class="company_left">
                <a href="http://www.archilife.org"><%= image_tag 'sponsors/archilife.png' %></a>
            </div>
            <div class="company_right">
                <div class="company_name">
                    <a href="http://www.archilife.org"><h4>祐生研究基金會</h4></a>
                </div> 
                <p>
	本會長期獎助建築環境、資訊社會與文化等未來趨勢研究。目前在資訊與數位內容領域，有針對國內獨立遊戲開發者社群，推動相關聚會與競賽贊助活動，並將參訪國際遊戲開發論壇之研習心得分享之，促進國內的獨立開發者互相交流，期能幫助社群發展。</p>
            </div>
        </div>
        <div class="clear"></div>
            </li>
    </ul>

    <div class="clear"></div>
    <div class="divider margin-20"></div>    
</div>
